body {
    margin: 0;
    background-color: rgb(149, 191, 203);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /*top botton, right left*/
}

html {
    scroll-behavior: auto;
}

/* CABECERA */

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    color: white;
}

/* TITOL */

h1 {
    text-align: center;
}


/* FORMULARI */

.formulari {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 2px solid black;
    margin-inline: 30rem;
    padding: 2rem;

}

input {

    display: block;
    margin: 5px 0 30px 0;
    width: 400px;
    height: 30px;
}
input[type="submit"]{
height: 2rem;
width: 4rem;
font-size: 1rem;
}

#campcom {
    display: block;
    margin: 5px 0 30px 0;
}



.polit {
    display: flex;
    gap: 1.5rem;

}

#casilla{
    height: 1.5rem;
    width: 1.5rem;
}

footer{
    display: flex;
    flex-direction: row;
justify-content: center;
background-color:black;
margin-top: 100px;

}
.social{
    padding: 1rem;
    display: inline-flex;
    gap: 2rem;

}