html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(218, 187, 193);
}

.cabecera {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-radius: 25px 25px 25px 25px;
}

.logo {
    margin-left: 1rem;
}

li {
    display: inline-flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(223, 89, 196);
    text-shadow: 1px black;
    color: rgb(65, 10, 60);
    font-size: 3rem;
    box-shadow: grey 5px 8px 10px;
    border-radius: 25px 25px 25px 25px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.articles {
display: flex;
justify-content: center;
   gap: 4rem;

}


.fotografia {
    border: 2px solid black;
width: 630px;
 
 
}


.diseny{
    border: 2px solid black;
    width: 630px;
    
   
}